@import "global.css";
@import "./components/header.css";
@import "./components/navigation.css";
@import "./components/add.css";
@import "./components/card.css";

main {
    padding: 40px 0;
}

.main-container {
    margin: 65px 0;
}

/* ################################################## */

.profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    border-style: none;
}
.profile img {
    border-radius: 50%;
    width: 30%;
}
.about {
    align-items: flex-start;
    border-style: none;
}
.counter {
    border-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}
.counter p {
    font-size: 120%;
}
.counter div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.counter__questions--symbol {
    background-color: black;
    border-radius: 50%;
    color: white;
    padding: 3px 7px;
}
.counter div img {
    width: 45%;
    height: 45%;
}
.settings {
    align-items: flex-start;
    border-style: none;
}
.settings__switch {
    display: flex;
    align-items: center;
    gap: 25px;
}

/* ############################## Dark Modus */

body.darkModus {
    background-color: rgb(50, 51, 58);
    color: white;
}
.counter__questions--symbol--dark {
    background-color: white;
    color: black;
}