* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,;
}

header {
    background-color: rgb(120, 228, 192);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}
header h1 {
    text-align: center;
}

main {
    padding: 80px 0;

}

section {
    margin: 25px;
    padding: 15px;
    border-color: rgb(17, 91, 66);
    border-style: solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.bookmark-icon {
    position: absolute;
    right: 8px;
    top: -22px;
    background-color: transparent;
    border-color: transparent;
}
.bookmark-icon img {
    background-color: white;
}
section > input {
    padding: 5px 8px;
    background-color: rgb(236, 244, 241);
    border-radius: 5px;
    box-shadow: 2px 3px 5px rgb(17, 91, 66);
}
/*
section > input:hover {
    box-shadow: 2px 3px 4px rgb(17, 91, 66);
}
*/
section form {
    width: 100%;
    display: flex;
    gap: 5px;
    padding: 20px 0px 10px 0px;
}
section form label {
    border-color: rgb(17, 91, 66);
    border-style: solid;
    padding: 5px 7px 5px 2px;
    border-radius: 8px;
    border-width: 1px;
}

footer {
    background-color: rgb(192, 228, 216);
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 10;
    border-bottom:  solid rgb(17, 91, 66) 2px;
}
/*
footer ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
footer figure img {
    width: 80%;
}
*/
.nav__footer {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.nav__footer--highlight {
    flex-grow: 1;
    text-align: center;
    padding: 10px;
    background-color: rgb(120, 228, 192);
    border: solid rgb(17, 91, 66) 4px;
}
.nav__footer--item {
    flex-grow: 1;
    text-align: center;
    padding: 10px;
    background-color: rgb(191, 217, 208);
    border: solid rgb(191, 217, 208);
}


/* ################################################## */

.profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    border-style: none;
}
.profile img {
    border-radius: 50%;
    width: 30%;
}
.about {
    align-items: flex-start;
    border-style: none;
}
.counter {
    border-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}
.counter p {
    font-size: 120%;
}
.counter div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.counter__questions--symbol {
    background-color: black;
    border-radius: 50%;
    color: white;
    padding: 3px 7px;
}
.counter div img {
    width: 45%;
    height: 45%;
}
.settings {
    align-items: flex-start;
    border-style: none;
}
.settings__switch {
    display: flex;
    align-items: center;
    gap: 25px;
}

/* ############################## Dark Modus */

body.darkModus {
    background-color: rgb(50, 51, 58);
    color: white;
}
.counter__questions--symbol--dark {
    background-color: white;
    color: black;
}